<template>
  <div class="text-center">
    <h1>
      About DadJokes
    </h1>
    <p>
      This is an app that display corny dad jokes
    </p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "About App",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Best place for corny dad jokes"
        }
      ]
    };
  }
};
</script>

<style></style>
