<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="4" lg="6" md="6" sm="6">
        <v-container
          style="position: relative;top: 15%;"
          class="text-xs-center"
        >
          <v-card flat>
            <v-card-title primary-title>
              <v-row justify="center">
                <h4>Login</h4>
              </v-row>
            </v-card-title>
            <v-form>
              <v-text-field name="Username" label="Username"></v-text-field>
              <v-text-field
                name="Password"
                label="Password"
                type="password"
              ></v-text-field>
              <v-card-actions>
                <v-btn primary large block>Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "@nuxtjs/axios";
export default {
  data() {
    return {
      email: null,
      password: null
    };
  },
  head() {
    return {
      title: "Login"
    };
  },
  methods: {
    login() {}
  }
};
</script>

<style></style>
