<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="4" lg="6" md="6" sm="6">
        <v-container
          style="position: relative;top: 15%;"
          class="text-xs-center"
        >
          <v-card flat>
            <v-card-title primary-title>
              <v-row justify="center">
                <h4>Register</h4>
              </v-row>
            </v-card-title>
            <v-form>
              <v-text-field name="Full Name" label="Full Name"></v-text-field>
              <v-text-field name="Email" label="Email"></v-text-field>
              <v-text-field
                name="Password"
                label="Password"
                type="password"
              ></v-text-field>
              <v-text-field
                name="ConfirmPassword"
                label="Confirm Password"
                type="password"
              ></v-text-field>
              <v-select :items="country" label="Country"> </v-select>
              <v-card-actions>
                <v-btn primary large block>Register</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      country: ["Algeria", "Tunisia", "Morocco", "Egypt"],
      fullName: null,
      email: null,
      password: null,
      confirmPassword: null,
      userCountry: null
    };
  },
  head() {
    return {
      title: "Register"
    };
  },
  methods: {
    register() {}
  }
};
</script>

<style></style>
