<template>
  <div class="text-center">
    <div>
      <Joke
        v-for="joke in jokes"
        :key="joke.id"
        :id="joke.id"
        :joke="joke.joke"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Joke from "../../components/Joke";
export default {
  components: {
    Joke
  },
  data() {
    return {
      jokes: []
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    await axios
      .get("https://icanhazdadjoke.com/search", config)
      .then(result => {
        //console.log(result.data.results);
        this.jokes = result.data.results;
      })
      .catch(err => {
        console.log(err);
      });
  },
  head() {
    return {
      title: "Jokes"
    };
  }
};
</script>

<style></style>
