<template>
  <div>
    <Product
      :id="product.id"
      :name="product.name"
      :type="product.type"
      :niche="product.niche"
      :Avalaible="product.Avalaible"
    />
  </div>
</template>

<script>
import axios from "axios";
import Product from "../../../components/Product";
export default {
  data() {
    return {
      product: []
    };
  },
  head() {
    return {
      title: this.product.name
    };
  },
  async fetch() {
    const config = {
      headers: {
        "Access-Control-Allow-Origin": "*"
      }
    };
    await axios
      .get(`https://sharp-penguin-87.loca.lt/product/${this.$route.params.id}`)
      .then(result => {
        console.log(result.data);
        this.product = result.data;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style></style>
