<template>
  <div>
    <div>
      <v-col cols="12">
        <v-card class="mx-auto" max-width="344" outlined elevation="10">
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{ type }}
              </div>
              <v-list-item-title class="headline mb-1">
                {{ name }}
              </v-list-item-title>
              <v-list-item-subtitle> {{ niche }} </v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar color="grey darken-3">
              <v-img
                class="elevation-6"
                alt=""
                src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
              ></v-img>
            </v-list-item-avatar>
          </v-list-item>

          <v-card-actions>
            <v-btn outlined rounded text>
              <nuxt-link :to="'product/' + id">
                View Product
              </nuxt-link>
            </v-btn>
            <v-row justify="end" v-if="Avalaible">
              <v-col cols="6">
                <p style="color:green">Available</p>
              </v-col>
            </v-row>
            <v-row justify="end" v-else>
              <v-col cols="6">
                <p style="color:red">Available</p>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: ["id", "name", "type", "niche", "Avalaible"]
};
</script>

<style></style>
