<template>
  <div>
    <div class="text-center">
      <h1>
        Product
      </h1>
    </div>
    <v-row justify="center">
      <Product
        v-for="item in products"
        :key="item.id"
        :id="item.id"
        :name="item.name"
        :type="item.type"
        :niche="item.niche"
        :Avalaible="item.Avalaible"
        class="float-left"
      />
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
import Product from "../../components/Product";
export default {
  components: {
    Product
  },
  data() {
    return {
      products: []
    };
  },
  head() {
    return {
      title: "All Product"
    };
  },
  async fetch() {
    const config = {
      headers: {
        "Access-Control-Allow-Origin": "*"
      }
    };
    await axios
      .get("https://sharp-penguin-87.loca.lt", config)
      .then(result => {
        this.products = result.data;
        console.log("This is product array : ", this.products);
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style></style>
