<template>
  <div>
    {{ $route.params.id }}
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      joke: {}
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    await axios
      .get(
        `https://icanhazdadjoke.com/search/j/${this.$route.params.id}`,
        config
      )
      .then(result => {
        //console.log(result.data.results);
        this.joke = result.data.joke;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style></style>
